---
layout: default
---

<div class="home">

    <div id="search-area" class="ui-widget">
        <label id="search-label" for="quick-search-box">Go to instruction: </label>
        <input id="quick-search-box" autofocus>
    </div>
    
    {{ content }}

    <br>

    <h1 class="page-heading">All Quick Install Instructions</h1>

    <ul class="post-list">
        {% for instruction in site.instructions %}
        <li>
            <h2>
                <a class="post-link" href="{{ instruction.url | relative_url }}">{{ instruction.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

</div>