---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <button id="new-instruction" onclick="window.open('{{ site.repo_url }}/new/master/_instructions', '_blank')">New Instruction</button>
    <button id="edit-instruction" onclick="window.open('{{ site.repo_url }}/edit/master/{{page.path}}', '_blank')">Edit Instruction</button>
    
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>