---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <a id="new-instruction" href="{{ site.repo_url }}/new/master/_instructions">New Instruction</a>
    <a href="{{ site.repo_url }}/edit/master/{{page.path}}">Edit Instruction</a>
    
    <div id="search-area" class="ui-widget">
        <label id="search-label" for="quick-search-box">Go to instruction: </label>
        <input id="quick-search-box" autofocus>
    </div>
    
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>